<div class="container">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0 text-dark"> {{ _('Site users') }} <br></h1>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
</div>