{% block email_body %}
    {% block email_hello %}
        {{ _("Dear Crop Ontology user") }}
    {% endblock email_hello %}
    {% block email_message %}
        {{ _('You have received this email because a new term edition needs your revision') }}

        {{ _('Go to this URL') }} {{ revisions_url }} {{ _(' to see all Suggested revisions') }}.

    {% endblock email_message %}
    {% block email_goodbye %}
        {{ _('Regards') }},

        {{ _('The Crop Ontology  team') }}
    {% endblock email_goodbye %}
{% endblock email_body %}