<tr>
    <td>{{ section.section_id }}</td>
    <td>{{ section.section_desc }}</td>
    <td>{{ section.section_lastupdate }}</td>
    <td>
        <button type="button" onclick="location.href='{{ request.route_url('section_edit', sectionid=section.section_id) }}';" class="btn btn-warning btn-xs">{{ _('Edit') }}</button>
        {% if section.section_fixed == 0 and activeUser.super %}
            <button type="button" onclick="location.href='{{ request.route_url('section_users', sectionid=section.section_id) }}';" class="btn btn-default btn-xs">{{ _('Set managers') }}</button>
            <button data-section-desc="{{ section.section_desc }}" urn="{{ request.route_url('section_delete', sectionid=section.section_id) }}" type="button" class="btn btn-danger btn-xs delete_section">{{ _('Delete') }}</button>
        {% endif %}
    </td>
</tr>