<tr>
    <td>{{ user.user_name }}</td>
    <td>{{ user.access_date }}</td>
    <td>
        <button type="button" urn="{{ request.route_url('section_remove_user',sectionid=sectionid,userid=user.user_id) }}" data-user-name="{{ user.user_name }}"  class="btn btn-warning btn-xs remove_user">{{ _('Remove') }}</button>
    </td>
</tr>