{% extends 'page.jinja2' %}
{% import 'macros/form.jinja2' as form %}

{% block main_container %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                   <h5>{{ _('Change password') }}</h5>
                    {% block user_password_content %}
                    {% block password_errors %}
                            {{ form.display_errors(errors) }}
                    {% endblock password_errors %}
                    {% include 'user/snippets/change_password_form.jinja2' %}
                {% endblock user_password_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_container %}

