{% extends "login.jinja2" %}

{% block logintitle %}
    <title>{{ _("Crop Ontology | Reset my password") }}</title>
{% endblock logintitle %}

{% block loginwelcome %}
    <h3>{{ _("Welcome to Crop Ontology") }}</h3>
{% endblock loginwelcome %}

{% block body %}

    {% for key, error in error_summary.items() %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ error }}
        </div>
    {% endfor %}

    <div class="text-left" style="margin-top: 15%">
        <form class="m-t" role="form" method="post" action="{{ request.path }}" id="formReset">
            {{ form.secure_form(request) }}

            <div class="form-group">
                <input type="hidden" id="token" name="reset_token" class="form-control"
                       placeholder="{{ _("Password reset token") }}" required=""
                       value="{{ dataworking["reset_token"] }}" autocomplete="off">
            </div>
            <div class="form-group">
                <label>{{ _("New password") }}</label>
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="{{ _("New password") }}" required="" value="{{ dataworking["password"] }}"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <label>{{ _("New password confirmation") }}</label>
                <input type="password" id="password2" name="password2" class="form-control"
                       placeholder="{{ _("New password confirmation") }}" required=""
                       value="{{ dataworking["password2"] }}" autocomplete="off">
            </div>

            <button type="submit" name="submit" id="submit"
                    class="btn btn-primary block full-width m-b">{{ _("Reset") }}</button>
        </form>
    </div>

    {% block scripts %}
        {% jsresource request,'main_library','validate' %}
        {{ super() }}
        <script>

            $(function () {

                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('reset_token');
                $('#token').val(myParam);

                $('#formReset').validate({
                    rules: {
                        email: {
                            required: true
                        },
                        token: {
                            required: true
                        },
                        password: {
                            required: true,
                            regexpass: /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/,
                            minlength: 10
                        },
                        password2: {
                            required: true
                        },
                        user: {
                            required: true
                        }
                    },
                    messages: {
                        email: {
                            required: "{{ _("Write the email") }}"
                        },
                        token: {
                            required: "{{ _("Write the token") }}"
                        },
                        password: {
                            required: "{{ _("Write the new password") }}"
                        },
                        password2: {
                            required: "{{ _("Retype the new password") }}"
                        },
                        user: {
                            required: "{{ _("Write the username") }}"
                        }
                    }
                })
            });

        </script>
    {% endblock %}

{% endblock body %}