.description ul{
    padding-left:40px;
}
#header {
    width: 920px !important;
    min-width: 920px;
}

#header_outer {
    /*
    background: #F1F1F1;
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    */
}
#header {
    position: relative;
    background: #F1F1F1;
    border: 1px solid #D2D2D2;
}

.header_top {
/*    height: 50px;*/
    width: 920px;
    margin: 10px auto;
}

.header_title{
   display: inline-block;
}

.header_logo{
    padding-top: 5px;
}
.header_logo h1 a{
}
.header_logo h1 span{
}
.gcp_logo {
    float: right;
}
.gcp_logo img {
    width: 200px;
}
.header_images img{
    float: right;
}
.bar {
    width: 420px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

div.comment_post {
    margin-top:5px;
    padding:0 1px;
    width:500px;
}
div.comment_post textarea {
    height:100px;
    width:500px;
}
.comment_buttons button {
    margin:5px 5px 10px 0;
}

#logo {
    float: right;
}
#logo a{
    line-height: 100px;
    color: black;
}
#user {
    padding-top: 20px;
}

button {
    padding: 5px 10px;
}

.commentarea form {
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 20px;
}

.comment p {
    margin:5px 0;
}
.comment_info a {
    color: #336699;
    font-weight: bold;
}
.comment_date {
    color: #888888;
    font-size: x-small;
}

.comment_reply a {
    color:#888888;
    font-weight:bold;
    font-size: 12px;
}

.right {
    width: 500px;
}
.cont {
padding: 20px; background-color: white;
width: 360px;
height: 400px;
overflow-x: auto;
overflow-y: auto;
 
}
.meta {
    font-weight: bold;
    margin-left: 11px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.55);
text-shadow:none !important;
}
a.minibutton.selected{
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    border-color:#518cc6;
    border-bottom-color:#2a65a0;
    background:#599bdc;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#599bdc',endColorstr='#3072b3');
    background:-webkit-gradient(linear,left top,left bottom,from(#599bdc),to(#3072b3));
    background:-moz-linear-gradient(top,#599bdc,#3072b3);
}
 
#login-close, #register-close {
    background: url("http://pilu.github.com/web-app-theme/images/icons/cross.png") no-repeat top left;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    cursor: pointer;
}
.header_top h1{
    line-height:90px;
    font-size:30px;
    font-weight:normal;
    letter-spacing:-1px;
    text-shadow:1px 1px 0 #FFFFFF;


    font-family: 'Open Sans',arial,sans-serif;
    color: #333;
}
.header_top h1 a{
    text-decoration: none;
    color: #333;
}
#logo h1 img{
    vertical-align: middle;
    margin-right: 20px;
    width:80px;
    height: 69px;
}
table.attributes {
    width: 100%;
    table-layout: fixed;
}
.attributes tr td{
    border-bottom: 1px solid #ddd;
}
.attributes tr.last td{
    border:0;
}
.attributes tr td{
    background-color: #ededed;
}
/*
.attributes tr.storedLocally td{
    background-color: #D2E1FF;
}
.attributes tr.even.storedLocally td{
    background-color: #E4EDFF;
}
*/
.attributes tr.even td{
    background-color: #f6f6f6;
}
.attributes td.key {
    font-weight: bold;
    text-align: right;
    padding: 20px 10px 20px 20px;
    width: 30%;
}
.attributes td.value {
    padding: 20px 10px 20px 0px;
    width: 70%;
}
.attributes td.error {
    padding:20px;
    text-align: center;
}
.add_attribute {
    color:#4183C4;
    cursor:pointer;
    display:block;
    font-size:12px;
    font-weight:bold;
    height:30px;
    line-height:32px;
    padding:0 10px 0 32px;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.add_attribute:hover {
    background-color:#4183C4;
    border-top: 1px solid #175790;
    color:#FFFFFF;
}
.attributes tr.inline-edit td {
    vertical-align: top;
}
.attributes input  {
    width: 100px !important;
}
.attributes textarea {
    width: 290px !important;
}
.attributes a img {
    max-width: 300px;
    border: 0;
}

.toolbar {
    cursor: pointer;
    background: #ededed;
    border: 1px solid #ddd;
    border-left:0;
    width: 30px;
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 15px;
border-bottom-right-radius: 10px;
}
.toolbar_edit {
    background:url("/images/sprite.png") no-repeat scroll 2px center transparent;
    height:30px;
    margin:auto;
    width:17px;
}
.toolbar_edit:hover {
    background-position: -14px center; 
}
.toolbar_remove {
    background:url("/images/sprite.png") no-repeat scroll -30px center transparent;
    height:30px;
    margin:auto;
    width: 17px;
}
.toolbar_remove:hover {
    background-position: -46px center; 

}

#pages div.attribute {
    clear:both;
    overflow:hidden;
    line-height:150%;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
#pages div.attribute:hover, #pages div.attribute.hovered {
    background-color: #ededed;
}
#pages div.attribute label {
    width:120px;
    float:left;
    font-weight:bold;
    padding-top:10px;
    text-align:right;
    width:118px;
}
#pages div.attribute label input{
    padding:3px;
    width:93px;
}
#pages div.attribute textarea {
    width: 300px;
    height: 80px;
    padding:5px;
}
#pages div.attribute button.minibutton {
    float: left;
    margin-right: 10px;
}
#pages div.attribute span.value {
    display:block;
    float:left;
    padding-left:10px;
    padding-top:10px;
    word-wrap: break-word;

    width:300px;
}
#pages div.attribute span.value img{
    border:0;
    max-width: 300px;
}

.relationships div.wrap {
    padding: 10px;
    text-align: center;
}

.treeview input {
    padding: 3px;
}
.buttons {
    margin: 20px 0;
}

.footer {
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    color: #666;
    font-size: 12px;
    text-align: center;
}
.pagehead {

height: 38px;
margin-bottom: 0;

margin:0;
padding:0;
}
.pagehead .head_left {
font-size: 20px;
float: left;
}
.pagehead .head_right {
    padding-top: 8px;
}
.pagehead .head_right a{
    float: right;
    padding-left: 28px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    color:#D14836;
}
.header_button{
    color:#4183C4;
    margin-right: 20px;
    font-weight: bold;
}
a.button {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    border: 1px solid transparent;
    color: white;
    background-color: #D14836;
    background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
    background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
    background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
    background-image: -o-linear-gradient(top,#DD4B39,#D14836);
    background-image: linear-gradient(top,#DD4B39,#D14836);
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
    margin-right: 16px;
    height: 26px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
}

a.button.green {
background-color: #7FBF4D;
background-image: -webkit-linear-gradient(top,#7fbf4d,#63a62f);
background-image: -moz-linear-gradient(top,#7fbf4d,#63a62f);
background-image: -ms-linear-gradient(top,#7fbf4d,#63a62f);
background-image: -o-linear-gradient(top,#7fbf4d,#63a62f);
background-image: linear-gradient(top,#7fbf4d,#63a62f);

}

.api, .aboutbtn, .usersbtn, .feedbackbtn {
    width: 120px;
    display: inline-block;
    margin: 11px 0px 0 53px;
}
/* style to use when .header_images is displaid
.api, .aboutbtn, .usersbtn, .feedbackbtn {
    width: 100px;
    float: left;
    position: absolute;
    top: 36px;
    left: 40px;
}
.aboutbtn {
    left: 150px;
}
.usersbtn {
    left: 260px;
}
.feedbackbtn {
    left: 370px;
    width: 120px;
}
*/

.api a, .aboutbtn a, .usersbtn a , .feedbackbtn a{
    font-size: 15px;
}

.add_title {
    margin-bottom: 20px;
}

.add_title a{
   font-size: 14px; 
}


.list-ontologies a.username {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    background: #4183C4;
    color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 2px 3px;
    font-size: 9px;
    line-height: normal;
    text-decoration: none;

    margin-left: 10px;
}
.rounded-button {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    background: #4183C4;
    color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 2px 3px;
    font-size: 9px;
    line-height: normal;
    text-decoration: none;
}
.rounded-button:hover {
    text-decoration: none;
}
.print-button {
  background-color: #DA4A38;
}
.edit-button {
    position: absolute;
    top:0;
    left: 50%;
}
.edit-button.editing {
    background:#da4a38;
}
.edit_box {
    padding: 10px;
    border-bottom: 1px solid #DDDDDD;
}
.edit_box textarea, .edit_box input {
    padding: 5px;
}
.edit_box label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
#search {
    outline: none;
}

.api_left {
    width: 549px;
    float: left;
    border-right: 1px solid #ddd;
}
.api_left h2 {
    padding-top: 5px;
    border-bottom:0 !important;
    border-top: 1px solid #ddd;
}
.api_left label {
    font-weight: bold;
}
.api_right {
    width: 350px;
    float: left;
    background: #f5f5f5;
    padding: 10px;

}
.editable_add,
.editable_delete {
    position: absolute;
    top:0;
    left:0;
}

.relationship {
    background: #4183C4;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 8px;
    padding: 2px;
    margin-left: 5px;
    cursor: pointer;
}
.relationship.part_of {
    background: #D14836;
}
.relationship.method_of {
    background: #D14836;
}
.relationship.scale_of {
    background: #D14836;
}
/**
 * Modal window
 */
div.modal {
    width: 600px;

    margin-left: -300px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    text-align: left;


}
.modal .popup {
    position: relative;
    border: 3px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}
.modal .content {
    padding: 10px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.modal .close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    background: white;
}
.modal .close img {
    opacity: 0.3;
}

img.grav {
    vertical-align:middle;
}

ul.ontos {
    margin: 0;
    padding:0;
margin-top: 10px;
}
ul.ontos li {
border-bottom: 1px solid #EEE;
text-shadow: 1px 1px white;
position: relative;
margin: 0;
padding: 10px 0;
line-height: 35px;
font-weight: bold;
list-style: none;
font-size: 14px;
}
ul.ontos li .name{
    color: #333136;
    text-decoration: none;
}
ul.ontos li .summary{
    color: #919191;
    font-weight: normal;
    font-size: 12px;
}
ul.ontos .onto_id {
    float: left;
}
ul.ontos .onto_id .box{
    width: 100px;
    display: block;
}
ul.ontos .desc {
    float: left;
    margin-left: 20px;
    width: 400px;
}
.box {
background: #4183C4;
color: white !important;
font-weight: bold;
padding: 10px;
text-align: center;
font-size: 14px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-shadow: none;

}
.box:hover {
text-decoration: none;

}


a.n-triples {
    display: block;
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 11px;
    font-weight: bold;
    background: url("/images/n-triples.gif") no-repeat;
    height: 15px;
    width: 14px;
}
a.comments_rss {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 11px;
    font-weight: bold;
    background: url("/images/feed.png") no-repeat;
    height: 14px;
    width: 14px;
}

#survey {
    padding: 5px 8px;
    background-color: #FFFBE8;
    border: 1px solid #FFF1A9;
    text-align: left;
    width: 904px;
    margin: auto;
    margin-top: .6em;
    margin-bottom: .6em;
    font-size: 12px;
}
#survey img{
    vertical-align: top;
}

.somethingover {
    background: yellow !important;
}

h3.template a {
    background-color: #4FA359 !important;
}
h3.template a.term {
    color: #4FA359;
    background:none !important;
}
a.template {
    background: #4FA359;
}
a.obo {
    background: #4183C4;
}

#crop_onto_curation
{
    padding: 5px 8px;
    background-color: #F6F6F6;
    border: 1px solid #DDD;
    text-align: left;
    width: 904px;
    margin: auto;
    margin-top: .6em;
    margin-bottom: .6em;
    font-size: 12px;
}

#crop_onto_curation #tab_crop_curation 
{
    display: inline-block;
    vertical-align: top;
    width:80%;
    margin-left:1%;

}

#crop_onto_curation .crop_pict
{
    max-height: 133px;
    display: inline-block;
    max-width: 17%;
}

#crop_onto_curation table 
{
    margin-left: 1%;
    width: 99%;
}

#crop_onto_curation td, th
{
    vertical-align: top;
    padding-left:10px;
}


/*#crop_onto_curation ul 
{
    margin-left:15px;
}*/

#crop_onto_curation table img
{
    max-height: 50px;
    max-width:100px;
    vertical-align:top;
    margin: 3px;
}

#crop_onto_curation a
{
text-decoration: none;
color: black;
}

#crop_onto_curation a:hover
{
text-decoration: underline;
/*font-style: italic;*/
}
