{% include 'generic/404.jinja2' %}
{% block error_content %}
    <h2 class="headline text-danger">500</h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> {{ _('Oops! Something went wrong.') }}</h3>
        <p>
            {{ _('We will work on fixing that right away.') }}
            {{ _('Meanwhile, you may') }} <a href="../../index.html">{{ _('return to home') }}</a> {{ _('or try using the search form.') }}
        </p>
        <form class="search-form">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="{{ _('Search') }}">
                <div class="input-group-append">
                    <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}