<footer class="main-footer">
    <div class="container">
        <div class="row">
             <div class="col-md-12" style="text-align: center">
                 <a href="https://www.integratedbreeding.net/" target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/IBP.png') }}"></a>
                 <a href="https://alliancebioversityciat.org//" target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/Alliance_color.jpg') }}"></a>
                 <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1340112"  target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/NSF_world.jpg') }}"></a>
                 <a href="http://www.planteome.org/" target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/planteome.png') }}"></a>
                 <a href="https://1000farms.net/" target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/1000FARMS.jpg') }}"></a>
             </div>
         </div>
         <div class="row">
         </div>
    </div>
</footer>