<footer class="main-footer">
    <div class="container">
        <div class="row">
             <div class="col-md-12" style="text-align: center">
                 <a href="https://www.integratedbreeding.net/" target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/IBP.png') }}"></a>
                 <a href="http://www.bioversityinternational.org/" target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/bioversity_LD.jpg') }}"></a>
                 <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1340112"  target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/NSF_world.jpg') }}"></a>
                 <a href="http://www.planteome.org/" target="_blank"><img style="height: 65px" src="{{ request.url_for_static('logos/planteome.png') }}"></a>
             </div>
         </div>
         <div class="row">
             <div class="col-md-12" style="text-align: center">
                 <img style="height: 65px" src="{{ request.url_for_static('logos/logos_crps_footer.png') }}">
             </div>
         </div>
    </div>
</footer>