<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        {% block navbar_logo %}
        <a href="{{ request.route_url('home') }}" class="navbar-brand">
            <img src="{{ request.url_for_static('crop_ontology_logo_2.png') }}" alt="AdminLTE Logo" class="crop_ontology-image" style="opacity: .8">
        </a>
        {% endblock navbar_logo %}
        {% block navbar_collpase %}
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endblock navbar_collpase %}
        {% block navbar_main %}
            {% include 'snippets/navbar_main.jinja2' %}
        {% endblock navbar_main %}
        {% block navbar_right_links %}
            {% include 'snippets/navbar_right_links.jinja2' %}
        {% endblock navbar_right_links %}
    </div>
</nav>