<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ category.name }}</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="{{ _('Collapse') }}">
                <i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body p-0" style="max-height: 500px; overflow-y: scroll">
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 35%">
                    {{ _('Ontology name') }}
                </th>
                <th style="width: 35%">
                    {{ _('Ontology description') }}
                </th>
                <th style="width: 10%" class="text-center">
                    {{ _('Type') }}
                </th>
                <th style="width: 20%">
                </th>
            </tr>
            </thead>
            <tbody>
                {% for ontology in category.ontologies %}
                    {% include 'snippets/ontology_item.jinja2' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>