<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                {{ request.h.get_section_content(request, "instructions") }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="form-inline ml-12" method="post" action="{{ request.route_url('search') }}">
                    <div class="input-group" style="width: 100%">
                        <input class="form-control form-control-navbar" name="searchtext" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% for category in categories %}
            {% include 'snippets/ontology_category.jinja2' %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <a href="http://creativecommons.org/licenses/by/4.0/"><img src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br>
        <span class="small">{{ _('Crop Ontology is licensed under a') }} <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a></span>
    </div>
</div>