<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                {{ request.h.get_section_content(request, "instructions") }}
            </div>
        </div>
    </div>
</div>

{% include 'snippets/search_ontology.jinja2' %}

<div class="row">
    <div class="col-lg-12">
        {% for category in categories %}
            {% include 'snippets/ontology_category.jinja2' %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <a href="http://creativecommons.org/licenses/by/4.0/"><img src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br>
        <span class="small">{{ _('Crop Ontology is licensed under a') }} <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a></span>
    </div>
</div>