{% extends 'page.jinja2' %}

{% block css %}
    {{ super() }}
    {% if with_tree %}
        {% cssresource request,'main_library','jstree' %}
        <style>
            .load_variable { cursor: pointer; }
        </style>
    {% endif %}
{% endblock css %}

{% block main_container %}
    <div class="row">
        {% if request.h.has_section_content(request, ontology_id) %}
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        {{ request.h.get_section_content(request, ontology_id) }}
                    </div>
                </div>

            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Navigation</h5><br/>
                            <img src="{{ request.url_for_static("term.png") }}">={{ _('Term') }}, <img src="{{ request.url_for_static("trait.png") }}">={{ _('Trait') }}, <img src="{{ request.url_for_static("method.png") }}">={{ _('Method') }}, and <img src="{{ request.url_for_static("scale.png") }}">={{ _('Scale') }}
                        </div>
                        <div class="card-body" style="max-height: 400px; overflow-y: scroll">
                            <div id="tree"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="variable_list">
                        {% if variables|length > 0 %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="m-0">Variables</h5>
                                </div>
                                <div class="card-body" style="max-height: 400px; overflow-y: scroll">
{#                                    {{ _('Search:') }} <input type="text" class="search" />#}
                                    <ul class="tag-list" style="padding: 0">
                                        {% for variable in variables %}
                                            <li><a data-variable-id="{{ variable.id }}" class="load_variable"> {{ variable.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0">Term details</h5>
                </div>
                <div class="card-body" style="max-height: 800px; overflow-y: scroll">
                    <div id="term_content">
                        {% if userLogged %}
                            <button type="button" onclick="location.href='{{ request.route_url('term_edit',termid=term_id) }}';" class="btn btn-primary btn-xs">{{ _('Edit term') }}</button>
                        {% endif %}
                        {% if is_variable %}
                            {{ _('Trait') }}: <a href="{{ request.route_url('term_details', termid=variable_parents.trait_id) }}">{{ variable_parents.trait_name }}</a> <br/>
                            {{ _('Method') }}: <a href="{{ request.route_url('term_details', termid=variable_parents.method_id) }}">{{ variable_parents.method_name }}</a> <br/>
                            {{ _('Scale') }}: <a href="{{ request.route_url('term_details', termid=variable_parents.scale_id) }}">{{ variable_parents.scale_name }}</a> <br/>
                        {% endif %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a_result in results %}
                                {% if a_result.key=="trait_id" or a_result.key=="method_id" or a_result.key=="scale_id" or a_result.key=="variable_id" %}
                                    <tr>
                                        <td>{{ a_result.key }}</td>
                                        <td><a href="{{ request.route_url('uri_term', term_id=a_result.value) }}">{{ a_result.value }}</a></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ a_result.key }}</td>
                                        <td>{{ a_result.value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if with_tree %}
        {% jsresource request,'main_library','jstree' %}
        <script>
            $(function() {

                $('input.search').keyup(function() {

                    var searchText = $(this).val();

                    $('ul.tag-list > li').each(function() {

                        var currentLiText = $(this).text(),
                            showCurrentLi = currentLiText.toLowerCase().indexOf(searchText.toLowerCase()) !== -1;

                        $(this).toggle(showCurrentLi);

                    });
                });

            });
        </script>

        <script>
            var active_node = '{{ term_id }}';
            var details_url = '{{ request.application_url }}';
            $('#tree')
                .jstree({
                    'core' : {
                        'data' : {
                            'url' : '{{ request.route_url('tree', termid=term_id) }}',
                            'data' : function (node) {
                                return { 'id' : node.id };
                            }
                        },
                        "multiple": false,
                    }
                })
                .on('changed.jstree', function (e, data) {
                    var i, j;
                    for(i = 0, j = data.selected.length; i < j; i++) {
                        var selected_id = data.instance.get_node(data.selected[i]).id;
                        if (active_node !== selected_id)
                        {
                            active_node = selected_id;
                            //alert(selected_id);
                            var ecoded_id = encodeURIComponent(selected_id.trim())
                            $('#term_content').load(details_url + "/term/" + ecoded_id + "?with_tree=False #term_content");
                            $('#variable_list').load(details_url + "/term/" + ecoded_id + "?with_tree=False #variable_list",function(){
                                click_variables()
                            });
                        }

                    }
                });
            function click_variables(){
                $('.load_variable').click(function () {
                    var variable_id = $( this ).attr('data-variable-id');
                    $('#term_content').load(details_url + "/term/" + variable_id + "?with_tree=False #term_content");
                });
            }
            click_variables();
        </script>
    {% endif %}
{% endblock %}