
$grey: #ccc;
$light-grey: #ddd;
$light-light-grey: #eee;
$very-light-grey: #efefef;
$medium-light-grey: #999;
$medium-grey: #666;
$dark-grey: #333;

$black: #000;
$white: #fff;

$highlight: #d14836;
$tag-green: #56a681;
$tag-blue: #568da6;
$text-blue: #4283c5;


.highlight-text, .highlight {
  color: $highlight;
}
.highlight-btn {
  color: $highlight;

  &:hover { background-color: $very-light-grey; }
}
