
$grey: #ccc;
$light-grey: #ddd;
$light-light-grey: #eee;
$very-light-grey: #efefef;
$white-grey: #fafafa;
$medium-light-grey: #999;
$medium-grey: #666;
$medium-dark-grey: #454545;
$dark-grey: #333;

$black: #000;
$white: #fff;

$highlight-very-clear: #ead09d;
$highlight-clear: #ef9f5d;
$highlight: #f28021;
$highlight-dark: #db6200;

$tag-light-green: #9fddc0;
$tag-green: #56a681;

$tag-light-blue: #b8e0ef;
$tag-blue: #568da6;
$text-blue: #3f83b9;


.highlight-text, .highlight {
  color: $highlight;
}
.highlight-btn, .btn-highlight {
  background-color: $highlight;
  color: white;

  &:hover { background-color: $highlight-dark; }
}

.help-text {
  color: $grey;
}

.btn-mini {
  background-color: $light-light-grey;
  color: $dark-grey;
  font-size: .75em;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  max-width: 380px;
  overflow: hidden !important;
  padding: 0px 10px;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;

  &:hover, &.selected { background-color: $highlight-very-clear !important; }
}

.relationship {
  background-color: $tag-light-blue;
  border-radius: 4px;
  color: $medium-dark-grey;
  font-family: monospace;
  font-size: 0.6em;
  margin-left: 10px;
  padding: 3px 6px;

  &.is_a { background-color: $tag-light-green; }
}
