@import "_components/materialize_variables";
@import "colours";

.btn-mini {
  background-color: $light-light-grey;
  color: $dark-grey;
  font-size: .75em;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  max-width: 380px;
  overflow: hidden !important;
  padding: 0px 10px;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;

  &:focus, &:hover, &.selected { background-color: $highlight-very-clear !important; }
}
.btn-link {
  height: 36px;
  line-height: 36px;
}

.relationship {
  background-color: $tag-light-blue;
  border-radius: 4px;
  color: $medium-dark-grey;
  font-family: monospace;
  font-size: 0.6em;
  margin-left: 10px;
  padding: 3px 6px;

  &.is_a { background-color: $tag-light-green; }
}

.dowload-item {
  background-color: #fefefe;
  border-radius: 6px;
  border: $grey 1px dotted;
  color: $dark-grey;
  display: block;
  padding: 10px;

  &:hover {
    box-shadow: 0 0 6px $grey;
  }
}

#download_ontology_modal {
  h5 {
    tt {
      font-family: inherit;

      small { color: #aaa; }
    }
  }
  .dowload_item {
    color: $dark-grey;

    span:before {
      margin-right: 0;
    }
    h6 {
      text-transform: capitalize;
    }
  }
}

.input-field {
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus   {
    border-bottom: $highlight 1px solid !important;
    box-shadow: 0 1px 0 0 $highlight !important;

    & + label {
      color: $highlight-dark !important;

      &.active {
        width: 100%;
      }
    }
  }
  input[type=text], input[type=email], input[type=password]   {
    & + label {
      &.active {
        width: 100%;
      }
    }
  }
  // &.required {
  //   label {
  //     &:after {
  //       color: #aa0000 !important;
  //       content: "*" !important;
  //       display: inline !important;
  //       left: unset !important;
  //       margin-left: 5px;
  //       opacity: 0.5 !important;
  //       top: unset !important;
  //       transform: none !important;
  //       vertical-align: super !important;
  //     }
  //     &.active{
  //       &:after { opacity: 1 !important; }
  //     }
  //   }
  // }
}

a {
  &.tag {
    &.green {
      background-color: $tag-light-green !important;
      border-radius: 4px;
      color: $medium-dark-grey;
      font-family: monospace;
      font-size: 0.6em;
      margin-left: 10px;
      padding: 3px 6px;
    }
  }
  &[rel="external"], &[target="_blank"]  {
    &:after {
      color: $grey;
      // content: "\f35d";
      // font-family: "Font Awesome 5 Free";
      content: url("../../common/media/img/ext.png");
      font-size: .83em;
      font-weight: 400;
      vertical-align: super;
      margin-left: 2px;
      margin-right: -2px;
    }
  }
}

small {
  &.help-text {
    a {
      color: $medium-light-grey;
      text-decoration: underline;
    }
  }
}
