

/* -----------------------------------------------------------------------------
                                MATERIALIZE
----------------------------------------------------------------------------- */

/**
 * Fix checkbox issues
 * @see https://github.com/Dogfalo/materialize/issues/5062
 */
.input-field label {
  pointer-events: auto;
}

.pagination {
  .active {
    background-color: $highlight !important;
  }
}

#ontologies_container {
  .collapsible-header {
    display: block;
    height: 4em;

    .collapsible-secondary {
      float: right;
      // line-height: 2.5em;
      font-size: 0.9em;
    }
  }
}

nav {
  .select-wrapper {
    span {
      &.caret {
        right: 20px;
      }
    }
    input {
      &.select-dropdown {
        border: 0px none !important;
        margin: 5px 0 0 0;
      }
    }
  }
  .nav-content, .tabs, .tab {
    height: 64px !important;
    line-height: 64px !important;
  }
  .tabs {
    display: inline-block;
    margin-right: 0;
    position: absolute;
    right: 0;
    width: auto !important;
  }
}

.material-tooltip {
  text-align: left !important;
}

.progress {
  background-color: $tag-light-green;
  .indeterminate {
    background-color: $tag-green;
  }
}

.full-height {
  height: 100vh;
}
