
@import "colours";
@import "patches";

a {
  color: $highlight;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans serif;
  // padding: 20px;

  & > header {
    margin: 15px 0 15px 0;
    padding: 0 10px 0 20px;
  }
}

ul {
  // Horizontal list
  &.horizontal {
    li { display: inline-block; }
  }
}

// -----------------------------------------------------------------------------

// Top menu
#top_menu {
  a {
    color: $highlight;
    font-weight: bold;
  }

  .separator {
    background-color: #ccc;
    display: block;
    height: 64px;
    width: 2px;
  }
}

// Carousel
#top_carousel {
  margin: 60px 0 60px 0;
  // border: $light-light-grey 1px dashed;

  .carousel {
    height: 300px !important;
    opacity: 0;

    .carousel-item {
      min-height: 300px !important;
      pointer-events: none;
      display: flex !important;
    }

    h1 {
      color: $medium-grey;
      font-size: 36px;
      font-weight: 300;
      margin: 0;
      text-align: center;
      width: 100%;
    }
    img + h1 {
      color: white;
      position: absolute;
      text-shadow: 0 0 3px $black;
    }
  }
}

// Search bar
#searchbar {
  width: 50%;

  .bar {
    border-radius: 6px;
    border: #aaa 1px solid;
    margin-bottom: 10px;

    #search_input {}
    #tags_list {
      // padding: 0;
      // font-family: monospace;
      // font-size: 12px;
      // color: $medium-grey;

      // &:hover { border-left: $very-light-grey 1px solid; }
      .tags {
        margin: 10px 0;
        text-align: right;

        li {
          display: inline-block;

          &.tag {
            background-color: brown;
            border-radius: 4.5px;
            color: $white;
            font-size: 11px;
            margin: 0 2px;
            padding: 3px 6px;

            &.type { background-color: $tag-green; }
            &.user { background-color: $tag-blue; }
            a {
              color: $white;
              margin-left: 5px;
            }
          }
        }
      }
    }
    .input-field {
      margin: 0;

      input {
        background-color: transparent !important;
        border: 0px none;
        box-shadow: none !important;
        margin: 0;
        padding: 0px 10px;
      }
      .btn-text {
        margin-top: 10px;
      }
    }
  }
}

// Halfway menu
#halfway {
  margin: 100px 0 60px 0;

  #halfway_menu {
    li {
      font-size: 14px;

      &:not(:first-child) {
        &:before {
          content: "-";
          margin-right: 9px;
        }
      }
      &:not(:last-child) { margin-right: 6px; }

      a {
        color: $medium-grey;

        &:hover { text-decoration: underline; }
      }
    }
  }
}

// Content section
#contents {
  margin: 60px 0 90px 0;
  padding: 0 20px;

  &.coloured {
    margin-bottom: 0;
    padding: 10px 0 60px 0;
  }
  & > .container {
    font-size: 14px;

    h1, h2, h3, h4 { font-weight: 300; }
    h1 { font-size: 2.4rem; }
    h2 { font-size: 2.2rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.8rem; }
    h5 { font-size: 1.6rem; }
    h6 { font-size: 1.4rem; }
  }
  #info_container {
    .card-title {
      .fa, .far { vertical-align: 3px; }
    }
    .help {
      *:not(ul) {
        margin: 0;
        padding: 0;
      }
      h1 { font-size: 24px; }
      h2 { font-size: 22px; }
      h3 { font-size: 20px; }
      h4 { font-size: 18px; }
      h5 { font-size: 16px; }
      h6 { font-size: 14px; }
      a {
        text-decoration: underline;
        &:hover { text-decoration: none; }
      }
      ul + p {
        font-style: italic;
        border-top: $light-light-grey 1px solid;
        padding-top: 15px;
        margin-top: 20px;
      }
    }
  }
  #feed_container {
    display: none;
    // padding-right: 30px;
    .card-title { margin: 0; }
    .feed {
      min-height: 120px;
      // padding: 10px 0;

      &.visible:not(:first-child) {
        border-top: $white-grey 2px dashed;
      }

      a {
        &:hover { text-decoration: none; }
        text-decoration: underline;
      }
      h1 {
        color: $highlight;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;

        a {
          text-decoration: none;
          &:hover { text-decoration: underline; }
        }
      }
      .preview {
        border: $very-light-grey 1px solid;
        float: left;
        height: 80px;
        margin-right: 10px;
        overflow: hidden;
        text-align: center;
        width: 80px;

        a {
          display: block;
          height: 100%;
          line-height: 100px;

          iframe { pointer-events: none; }
          img { height: 100%; }
        }
      }
      .card-title {
        display: contents;
        line-height: 22px;

        a {
          font-size: 16px;
          text-decoration: none;
          &:hover { text-decoration: underline; }
        }
      }
      .release {
        color: $medium-light-grey;
        font-size: 12px;
        // margin-bottom: 20px;

        a {
          color: $medium-light-grey;
        }
      }
    }
    .pagination {
      a { font-size: 13px; }

      .active {
        background-color: $highlight;
      }
    }
  }
  #ontologies_container {
    padding: 0 0 22px 30px;

    h1, h2, h3, h4, h5, h6 {
      color: $highlight;
      font-weight: 300;
    }
    .collapsible {
      margin-top: 15px;

      .collapsible-header {
        font-size: 16px;

        span {
          font-size: 24px;
          margin-right: 12px;
          margin-top: -6px;
        }
        .collapsible-secondary {
          &.help-text {
            padding: 10px;

            span {
              font-size: inherit;
              margin: 0;

              &.fa, &.far {
                font-size: 16px;
                margin-right: 5px;
              }
            }
          }
        }
      }
      .collapsible-body {
        padding: 0px;

        h2 {
          color: $text-blue;
          display: inline-block;
          font-size: 22px;
          margin: 0;

          a {
            &.right {
              color: $black;
              font-size: 11px;
              text-decoration: none;
              &:hover { text-decoration: underline; }
            }
          }
        }

        a {
          &.download {
            font-size: 12px;
          }
        }
        .items_count {
          color: $medium-grey;
          display: block;
          font-size: 12px;
        }
        &.paginated {
          box-shadow: 3px 3px 12px $white-grey inset;
          // background: linear-gradient(to right, $very-light-grey 2px, white 3px);
        }
        .collection, .pagination-content {
          // box-shadow: 0 0 6px $very-light-grey inset;
          border-bottom: $very-light-grey 1px solid;
          padding: 10px;

          a {
            font-size: 0.9em;
          }
          .help-text {
            font-size: 0.9em;
            line-height: 2.2em;
          }
        }
        .content {
          border-bottom: $very-light-grey 1px solid;
          padding: 30px;
        }
      }
    }
  }
  .all-ontologies {
    margin-top: 70px;
    font-size: 20px;
    font-weight: 300;

    &:hover { text-decoration: underline; }
  }
}

// Footer
footer {
  background-color: $dark-grey;
  color: $white;
  padding: 20px 40px;
  width: 100%;

  .description {
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 50px;
  }
  h2 {
    color: $medium-light-grey;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    margin: 25px 0 10px 0;
  }
  a {
    color: white;
    font-size: 14px;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}
#partners {
  margin: 70px 0;
  height: 75px;

  img {
    height: 75px;
    width: auto;
    margin-right: 20px;
  }
}
center {
  border-top: $very-light-grey 1px solid;
  margin: 20px auto;
  padding: 20px 0 10px 0;
  width: 80%;

  p {
    color: $medium-light-grey;
    font-size: 12px;

    a {
      color: $dark-grey;
      &:hover { text-decoration: underline; }
    }
  }
}
