@import "_components/materialize_variables";
@import "colours";
@import "patches";
@import "elements";

a {
  color: $highlight;
  text-decoration: none;

  &.btn-flat { text-decoration: none !important; }
}

body {
  font-family: "Roboto", sans serif;
  // padding: 20px;

  & > header {
    margin: 15px 0 15px 0;
    padding: 0 10px 0 20px;
  }
}

ul {
  // Horizontal list
  &.horizontal {
    li { display: inline-block; }
  }
}

// -----------------------------------------------------------------------------

// Top menu
@import "sections/top_menu";

// Carousel
@import "sections/top_carousel";

// Ontology card
@import "sections/ontology_card";

// Navbar
@import "sections/navbar";

// Content section
@import "sections/contents";

// Halfway menu section
@import "sections/halfway";

// Footer section
@import "sections/footer";
